.option {
  color: rgba(96, 102, 208, 0.8);
  background-color: #fff;
  border-radius: 0.75rem;
  border: 2px solid rgba(96, 102, 208, 0.7);

  display: flex;
  align-items: center;

  padding: 0.625rem 1.25rem;
}

.option > .index {
  font-size: 1.5rem;
  margin-right: 3rem;
}

.option:hover {
  color: white;
  background-color: #f9a826;
  border: 2px solid #f9a826;
}

.selected.wrong {
  color: white;
  background-color: #ea8282;
  border: 2px solid #ea8282;
}

.selected.wrong:hover {
  color: white;
  background-color: #ea8282;
  border: 2px solid #ea8282;
}

.correct {
  color: white;
  background-color: #60bf88;
  border: 2px solid #60bf88;
}

.correct:hover {
  color: white;
  background-color: #60bf88;
  border: 2px solid #60bf88;
}
